html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
h3{
    text-decoration: solid;
    color: rgb(8, 8, 8);
    font-size: 1rem;
    font-style: italic;
    
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}
.weather_stats{
    width: 100%;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    height: 2rem;
    width: 50rem;
    border: 0;

}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    width: 100%;
}

.values{
    height: 15rem;
    width: 25%;
}


#submit{
    background-color: blue;
    margin-left: 10px;
    align-self:center ;
    text-align: center;
    color: white;
    width: 40%;
    border:none;
    cursor: pointer;
}

#submit:hover{

    background-color: darkblue;

}

.footer{
    height: 3rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}

