<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    
    <title>Weather app</title>

</head>
<body>
    <div class="container">
        <h1> Weather app</h1> 
        <h3> Enter a city to know the weather</h3>

        <form method="POST">
            
            <input  autofocus autocomplete="off" type="text" name="search" id="search" placeholder="Name a city to search">
            <input  autocomplete="off" type="submit" id="submit" placeholder="Search" >

        </form>

        <div class="weather_stats">
            
            {% if values %}

                <h3>Weather in {{ values['name']}}</h3>

                <p>Temperature - {{ values['main']['temp'] }} *C</p>
                <p>Pressure -  {{ values['main']['pressure'] }} Pa</p>
                <p>Humidity  - {{ values['main']['humidity'] }} %</p>
                <p>Max Temperature - {{ values['main']['temp_max'] }} *C</p>
                <p> Visibility - {{ values['visibility']}} m</p> 

            {% endif %}
        </div>
        <div class="section">
            <h2>Recent search</h2>

        </div> 
    </div>

    <footer class="footer">
        &copy;Copyright Prevented 2024 Prasim Basnet
    </footer>
</body>
</html>